:root {
  /* Primary */
  --nutmeg: hsl(14, 45%, 36%);
  --raspberry: hsl(332, 51%, 32%);
  /* Neutrals - Dark */
  --charcoal: hsl(24, 5%, 18%);
  --grey-brown: hsl(30, 10%, 34%);
  /* Neutrals - Light */
  --light-gray: hsl(30, 18%, 87%);
  --light-pink: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-image: url('../assets/images/asfalt-dark.png');
  background-color: var(--eggshell);
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  letter-spacing: 0.125px;
  color: var(--charcoal);
}

.container {
  background-color: var(--white);
  max-width: 375px;
  width: 100%;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.section-wrapper {
  padding: 0 1.9375rem; /* 31px */
}

/************************/
/* Global List stylings */
/************************/

ul,
ol {
  -webkit-padding-start: 1.5rem;
  padding-inline-start: 1.5rem;
  list-style-position: outside;
}

li {
  margin-bottom: 0.75rem;
}

li:last-child {
  margin-bottom: 0;
}

ul li,
ol li {
  padding-left: 0.75rem; /* Space between marker, text */
}

/*******************/
/* Shared stylings */
/*******************/

.callout-container span,
ol span,
ol li::marker,
.data-row dd {
  font-weight: 700;
}

.recipe-heading,
ul li::marker,
ol li::marker,
.data-row dd {
  color: var(--nutmeg);
}

/**************/
/* All Styles */
/**************/

.image-container {
  margin-bottom: 2.5rem;
}

.header-text-container {
  margin: 2rem 0;
}

.header-text-container h2 {
  font-family: 'Young Serif', serif;
  font-size: 2.125rem;
  margin-bottom: 1.5rem;
}

.header-text-container p {
  letter-spacing: 0;
}

.callout-container {
  background-color: var(--light-pink);
  padding: 1.5rem;
  border-radius: 16px;
}

.callout-container p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.callout-container p,
.callout-container ul li::marker {
  color: var(--raspberry);
}

.recipe-section {
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.recipe-section,
.data-row {
  border-bottom: 1px solid var(--eggshell);
}

.section-wrapper:nth-of-type(3) > .recipe-section {
  border-bottom: 0;
  padding-bottom: 0;
}

.recipe-heading {
  font-size: 1.75rem;
  font-family: 'Young Serif', serif;
  margin-bottom: 1.5rem;
}

.data-table {
  margin-top: 1rem;
}

.data-row {
  padding: 0.75rem 0;
}

.data-row:nth-of-type(4) {
  border: 0;
}

dt,
dd {
  display: inline-block;
}

dt {
  margin-left: 30px;
}

.dd-1 {
  margin-left: 75px;
}

.dd-2 {
  margin-left: 88px;
}

.dd-3 {
  margin-left: 77px;
}

.dd-4 {
  margin-left: 103px;
}

.fm-byline {
  padding-bottom: 1.75rem;
}

.fm-byline-text {
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-align: center;
}

.fm-byline-text a {
  color: var(--charcoal);
}

/*****************/
/* Media Queries */
/*****************/

@media only screen and (min-width: 800px) {
  .container {
    max-width: 616px;
    margin-top: 80px;
  }

  .section-wrapper {
    padding: 0 2.5rem;
  }

  .container,
  img {
    border-radius: 16px;
  }

  .image-container {
    padding: 2.5rem 2.5rem 0 2.5rem;
  }

  .header-text-container h2 {
    font-size: 2.5rem;
  }

  .dd-1 {
    margin-left: 200px;
  }

  .dd-2 {
    margin-left: 214px;
  }

  .dd-3 {
    margin-left: 204px;
  }

  .dd-4 {
    margin-left: 230px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 736px;
  }

  .dd-1 {
    margin-left: 230px;
  }

  .dd-2 {
    margin-left: 245px;
  }

  .dd-3 {
    margin-left: 235px;
  }

  .dd-4 {
    margin-left: 261px;
  }
}
